/* A mãe de todos: */
.main_login{
    display: flex;
    height: 100vh;
}

/* Banner da esquerda: */
.banner{
    background-image: url("../../assets/img/fundoLogin.png");
    flex: 1;

    /* Modificar algumas caracteristicas da imagem: */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Form de login da direita: */
.section_login{
    flex: 1;
    
    background-color: #CC3F55;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_login{
    color: white;

    width: 70%;
    height: 50%;

    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_login h1{
    text-transform: uppercase;
}

.campos_login{
    width: 100%;
}

.campo_input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.campo_input input{
    height: 30px;

    padding: 0 10px;

    border: none;
    outline: none;

    border-radius: 6px;

    /* box-shadow: ; */
}

/* REPONSIVIDADE */

/* Me de algumas caracteristicas a partir de um tamanho de tela */
@media screen and (max-width: 768px){
    .banner{
        display: none;
    }
}